# fly.toml app configuration file generated for shab-stack on 2026-01-19T20:04:02Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'shab-stack'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
